<!--from.vtl-->
<h1> Enter a dollar amount to get change</h1>
<form action ='response' method ='get'>
<div class = "form-group">
<label for="dollar">Dollar Amount:</label>
    <input id="dollar" name="dollar" class="form-control" type="float">
  </div>
  <button type="submit" class="btn">Give Me Change!</button>
</form>
<!--form.vtl-->
